NODE_ENV=development

# Database
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# Redis
REDIS_HOST=
REDIS_PORT=
# leave empty for dev
REDIS_PASSWORD=

# osu credentials
PUBLIC_OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
PUBLIC_OSU_REDIRECT_URI=
